<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">À propos</div>
                        {{ information.about.content }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Information</div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                            <div class="col-sm-8">{{ information.age }}</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                            <div class="col-sm-8">{{ information.email }}</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Téléphone:</strong></div>
                            <div class="col-sm-8">{{ information.telephone }}</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Adresse:</strong></div>
                            <div class="col-sm-8">{{ information.adresse }}</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Langue:</strong></div>
                            <div class="col-sm-8">{{ information.langue }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
