<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('build/images/staticmap.png');">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Me contacter</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        {{ form_start(form, { 'action': path('home') }) }}

                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                                        {{ form_errors(form.name) }}
                                                        {{ form_widget(form.name) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_widget(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                        {{ form_errors(form.email) }}
                                                        {{ form_widget(form.email) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        {{ form_errors(form.message) }}
                                                        {{ form_widget(form.message) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary" type="submit">Envoyer</button>
                                                </div>
                                            </div>

                                        {{ form_end(form) }}

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        {% if information.adresse is not null %}
                                            <p class="mb-0"><strong>Adresse </strong></p>
                                            <p class="pb-2">{{ information.adresse }}</p>
                                        {% endif %}

                                        {% if information.email is not null %}
                                            <p class="mb-0"><strong>Email</strong></p>
                                            <p>{{ information.email }}</p>
                                        {% endif %}

                                        {% if information.telephone is not null %}
                                            <p class="mb-0"><strong>Téléphone</strong></p>
                                            <p class="pb-2">{{ information.telephone }}</p>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
