<div class="section" id="experience">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Expériences professionelles</div>
        {% for experience in information.experiences %}
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>{{ experience.dateDebut|date('F Y') }} - {% if experience.dateFin is null %}Aujourd'hui{% else %}{{ experience.dateFin|date('F Y') }}{% endif %}</p>
                            <div class="h5">{{ experience.lieu }}</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">{{ experience.poste }}</div>
                            <p>{{ experience.description|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
