<div class="section" id="reference">
    <div class="container cc-reference">
        <div class="h4 mb-4 text-center title">Références</div>
        <div class="card" data-aos="zoom-in">
            <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% set counter = 0 %}
                    {% for reference in information.references %}
                        <li class="{% if counter == 0 %}active{% endif %}" data-target="#cc-Indicators" data-slide-to="{{ counter }}"></li>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% set counter = 0 %}
                    {% for reference in information.references %}
                        <div class="carousel-item {% if counter == 0 %}active{% endif %}">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 cc-reference-header"><img src="{{ vich_uploader_asset(reference, 'photo') }}" alt="Image"/>
                                    <div class="h5 pt-2">{{ reference.nom }}</div>
                                    <p class="category">{{ reference.poste }}</p>
                                </div>
                                <div class="col-lg-10 col-md-9">
                                    <p> {{ reference.description|raw }} </p>
                                </div>
                            </div>
                        </div>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>