{% extends 'administration/layout.html.twig' %}

{% if form is defined %}
    {% form_theme form '@AdminLTE/layout/form-theme.html.twig' %}
{% endif %}

{% block page_title %}Logiciels connus{% endblock %}

{% block page_subtitle %}La liste des compétences s'affichera avec des pourcentages{% endblock %}

{% block page_content %}

    {{ form_start(form) }}

    {{ form_widget(form) }}
    {#<ul class="skills" data-prototype="{{ form_widget(form.skills.vars.prototype)|e('html_attr') }}">#}
        {# iterate over each existing tag and render its only field: name #}
        {#{% for skill in form.skills %}#}
            {#<li>{{ form_row(skill.nom) }}, {{ form_row(skill.percentage) }}%</li>#}
        {#{% endfor %}#}
    {#</ul>#}

    <button class="btn btn-sm btn-primary center-block" type="submit">
        <i class="fa fa-save"></i>&nbsp;Enregistrer</button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('build/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ asset('build/collectionSkills.js') }}"></script>
{% endblock %}